<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--docset-package-url</key>
	<string>http://www.google.com</string>
	<key>--docset-feed-url</key>
	<string>http://gentlebytes.com/downloads/%DOCSETATOMFILENAME</string>
	<key>--company-id</key>
	<string>com.MediaMath</string>
	<key>--logformat</key>
	<integer>1</integer>
	<key>--print-settings</key>
	<true/>
	<key>--project-company</key>
	<string>MediaMath</string>
	<key>--project-name</key>
	<string>MediaMathSDK</string>
	<key>--repeat-first-par</key>
	<false/>
	<key>--templates</key>
	<string>./appledoc/Templates</string>
	<key>--verbose</key>
	<string>3</string>
</dict>
</plist>
